# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
eggs/
.eggs/
*.egg-info/
*.egg

# Environments
.env
.envrc
.venv
.venv/
.direnv/

# Ruff stuff:
.ruff_cache/

# Coverage
.coverage
coverage.xml
*.cover

# IDE-related
.vscode/

# config file
config.yaml
configs/datasets.yaml

# File ouputs
out/
*.parquet
*.csv

# State store database
meta/state.db

# Debugging purpose
full_project_source.txt
